canvas {
    border: 1px solid black;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h1 {
    position: absolute;
    top: 15%;
    right: 55%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.accordion {
    background-color: #eee; 
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }

  .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}